# Segmenting and Clustering Neighborhoods in Toronto

### Week 3 Assignment - Applied Data Science Capstone - Part 2

---

* Now that you have built a dataframe of the postal code of each neighborhood along with the borough name and neighborhood name, in order to utilize the Foursquare location data, we need to get the latitude and the longitude coordinates of each neighborhood.

In [8]:
import pandas as pd # library for data analsysis
import numpy as np # library to handle data

link = "http://cocl.us/Geospatial_data"
df1 = pd.read_csv(link)

df1.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [9]:
df1.shape

(103, 3)

Both df and df1 have the same shape

#### Read the df_can dataframe

In [10]:
link = "df_can.csv"
df = pd.read_csv(link,index_col=0)
df.head()

  Postal code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

Change the column "Postal Code" to "Postal code" so that we can merge both of them

In [11]:
df1.columns = ['Postal code','Latitude','Longitude']

cols = df1.columns.tolist()
cols

['Postal code', 'Latitude', 'Longitude']

#### Merge both the df into a new df

In [12]:
df_new = pd.merge(df, df1, on='Postal code')
df_new.head()

,Postal code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

#### Save the cleaned data in a new csv file

In [13]:
df_new.to_csv(r'df_can_final.csv')